/* ================================================
By Default styles for Mobile devices 
================================================ */
/* Top bar */
.top-bar {
    background-color: var(--primary-3);
    padding: 12px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.top-bar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.top-bar .time {
    color: var(--secondary-1);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
}
.top-bar .time span {
    font-size: 12px;
}
.top-bar .location {
    display: none;
}
.top-bar .social-icons {
    color: var(--secondary-1);
    display: flex;
    justify-content: space-between;
    column-gap: 6px;
}
.top-bar .social-icons li {
    transition: opacity 0.4s ease-in-out;
    font-size: 18px;
}
.top-bar .social-icons li:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* ------------------------------------------
Header 
--------------------------------------------*/
.header {
    background-color: #2f2f2f;
    padding: 0.87rem 0;
    position: fixed;
    width: 100%;
    top: 2.8125rem;
}
.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.625rem;
}
.header .logo img {
    width: 7rem;
}
.header .option-btn {
    color: var(--secondary-2);
    font-size: 2rem;
    transition: opacity 0.4s ease-in-out;
}
.header .option-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}
.header .navbar #close {
    display: none;
    color: var(--secondary-2);
    font-size: 2rem;
    transition: opacity 0.3s ease-in-out;
}
.header .navbar #close:hover{
    opacity: 0.5;
    cursor: pointer;
}
.header .nav-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.87rem;
    padding: 1rem 0.75rem;
    position: fixed;
    top: 6.935rem;
    left: -40rem;
    background: var(--primary-2);
    height: 100vh;
    max-width: 20rem;
    transition: all 300ms ease-in-out;
}
.header .nav-wrapper li a {
    display: block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
    color: var(--secondary-1);
    transition: background-color 200ms ease-in-out;
}
.header .nav-wrapper li a:hover {
    background-color: var(--primary-1);
    color: var(--primary-3);
}
.header .nav-wrapper .header-btn {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
    background-color: var(--secondary-2);
    border-radius: 0.5rem;
    padding: 0.345rem 0.5rem;
    text-decoration: none;
    color: var(--primary-3);
    z-index: 3;
}
.header .header-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0;
    background-color: var(--primary-1);
    border-radius: 0.5rem;
    transition: width 300ms ease-in-out;
    z-index: -1;
}
.header .header-btn:hover:before{
    width: 100%;
}
.header .header-btn span {
    background-color: var(--primary-1);
    border-radius: 0.125rem;
    padding: 0.1rem 0.2rem;
}
.header .header-btn p {
   font-size: 0.75rem;
}
.header .header-btn {
    display: none;
}














/* ================================================
Styles for Large Mobile devices 
================================================ */
@media screen and (min-width: 545px) {
    /* Top bar */
    .top-bar .location{
        display: flex;
    }
    .top-bar .social-icons {
        column-gap: 10px;
    }
    .top-bar .social-icons li {
       font-size: 22px;
    }

}











/* ================================================
Styles for Tablet devices 
================================================ */
@media screen and (min-width: 768px) {
    
}








/* ================================================
Styles for Laptop Devices
================================================ */
@media screen and (min-width: 1024px) {
    /* Top bar */
    .top-bar .wrapper {
        justify-content: start;
        column-gap: 2.87rem;
    }
    .top-bar .time span {
        font-size: 0.87rem;
    }
    .top-bar .time i {
        font-size: 1.2rem;
    }
    .top-bar .social-icons {
        margin-left: auto;
    }
    .top-bar .social-icons li {
        font-size: 1.5rem;
    }
}












/* ================================================
Styles for Desktop and Large screeens
================================================ */
@media screen and (min-width: 1280px) {
    /* Header */
    .header .option-btn, .header #close {
        display: none;
    }
    .header .nav-wrapper {
        position: static;
        flex-direction: row;
        align-items: center;
        max-width: none;
        height: auto;
        padding: 0;
        column-gap: 1rem;
        background-color: transparent;
    }
    .header .nav-wrapper li a {
        padding: 0.2rem 0.2rem;
        font-size: 0.90rem;
    }
   
}




