/* ================================================
By Default styles for Mobile devices 
================================================ */
/* Top bar */
.top-bar {
  background-color: var(--primary-3);
  padding: 12px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.top-bar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.top-bar .time {
  color: var(--secondary-1);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}
.top-bar .time span {
  font-size: 12px;
}
.top-bar .location {
  display: none;
}
.top-bar .social-icons {
  color: var(--secondary-1);
  display: flex;
  justify-content: space-between;
  column-gap: 6px;
}
.top-bar .social-icons li {
  transition: opacity 0.4s ease-in-out;
  font-size: 18px;
}
.top-bar .social-icons li:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ------------------------------------------
Header 
--------------------------------------------*/
.header {
  background-color: #2f2f2f;
  padding: 0.87rem 0;
  position: fixed;
  width: 100%;
  top: 2.8125rem;
  z-index: 99;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
}
.header .logo img {
  width: 7rem;
}
.header .option-btn {
  color: var(--secondary-2);
  font-size: 2rem;
  transition: opacity 0.4s ease-in-out;
  display: block;
}
.header .option-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.header .navbar #close {
  display: none;
  color: var(--secondary-2);
  font-size: 2rem;
  transition: opacity 0.3s ease-in-out;
}
.header .navbar #close:hover {
  opacity: 0.5;
  cursor: pointer;
}
.header .nav-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 0.87rem;
  padding: 1rem 0.75rem;
  position: fixed;
  top: 6.935rem;
  left: -40rem;
  background: var(--primary-2);
  height: 100vh;
  width: 14rem;
  transition: all 300ms ease-in-out;
}
/* .header .nav-wrapper::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 14rem;
    background: rgba(255, 255, 255, 0.5);
} */
.header .nav-wrapper li a {
  display: block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: var(--secondary-1);
  transition: background-color 200ms ease-in-out;
}
.header .nav-wrapper li a:hover {
  background-color: var(--primary-1);
  color: var(--primary-3);
}
.header .nav-wrapper .main-btn {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  background-color: var(--secondary-2);
  border-radius: 0.5rem;
  padding: 0.345rem 0.5rem;
  text-decoration: none;
  color: var(--primary-3);
  z-index: 2;
}
.header .main-btn:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--primary-1);
  border-radius: 0.5rem;
  transition: width 300ms ease-in-out;
  z-index: -1;
}
.header .main-btn:hover:before {
  width: 100%;
}
.header .main-btn span {
  background-color: var(--primary-1);
  border-radius: 0.125rem;
  padding: 0.1rem 0.2rem;
}
.header .main-btn p {
  font-size: 0.75rem;
}
.header .main-btn {
  display: none;
}

/* ------------------------------------------
Home Banner
--------------------------------------------*/
.home-banner {
  background: url("/assets/home/banner-home.png");
  margin-top: 6.71rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.35rem;
}
.home-banner .content-wrapper {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.984rem;
  padding: 1.5rem 1.1rem;
  backdrop-filter: blur(0.987rem);
  -webkit-backdrop-filter: blur(0.987rem);
}
.home-banner .content-wrapper h2 {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--primary-3);
  line-height: normal;
  margin-bottom: 1.3rem;
}
.home-banner .content-wrapper p {
  font-weight: 400;
  margin-bottom: 1.15rem;
  max-width: 26.25rem;
}
.home-banner .content-wrapper .button-wrapper {
  display: flex;
  column-gap: 0.987rem;
  align-items: center;
}
.home-banner .content-wrapper .button-wrapper .service-btn {
  text-decoration: none;
  background-color: var(--primary-3);
  border-radius: 1.5rem;
  padding: 0.75rem 0.97rem;
  color: var(--secondary-2);
  font-size: 0.8rem;
  transition: background-color 500ms ease-in-out;
}
.home-banner .content-wrapper .button-wrapper .service-btn:hover {
  background-color: var(--secondary-2);
  color: var(--primary-3);
}
.home-banner .content-wrapper .button-wrapper .book-btn {
  background-color: var(--secondary-2);
  color: var(--primary-3);
  padding: 0.548rem 0.87rem 0.548rem 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}
.home-banner .content-wrapper .button-wrapper .book-btn i {
  background-color: var(--primary-2);
  padding: 0.3rem;
  border-radius: 1.5rem;
}
.home-banner .content-wrapper .button-wrapper .book-btn:hover {
  background-color: var(--primary-2);
  color: var(--secondary-2);
}

/* ------------------------------------------
Our Client
--------------------------------------------*/
.our-client {
  background-color: transparent;
  padding: 2rem 0.87rem;
}
.our-client .client-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.our-client .client-wrapper img {
  filter: opacity(75%);
  transition: filter 300ms ease-in-out;
}
.our-client .client-wrapper img:hover {
  filter: opacity(100%);
  cursor: pointer;
}
.our-client .client-wrapper span {
  text-align: center;
}

/* ------------------------------------------
Home about
--------------------------------------------*/
.home-about {
  padding-top: 1.65rem;
  padding-bottom: 5.2rem;
}
.home-about .about-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.home-about .about-wrapper .about-left .sub-title {
  font-size: 0.77rem;
  background-color: var(--primary-1);
  max-width: max-content;
  padding: 0.15rem 0.578rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-3);
  font-weight: 600;
  margin-bottom: 0.558rem;
}
.home-about .about-wrapper .about-left .heading-title {
  max-width: 19rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-3);
  margin-bottom: 1.1rem;
}
.home-about .about-wrapper .about-left p {
  margin-bottom: 0.87rem;
  font-weight: 400;
  font-size: 0.775rem;
  max-width: 22.5rem;
}
.home-about .about-wrapper .about-left .lead {
  font-weight: 600;
  font-style: bold;
  font-size: 0.857rem;
}

.home-about .about-wrapper .about-left .counter-wrapper {
  max-width: max-content;
  display: flex;
  column-gap: 1.1rem;
  align-items: center;
  padding-top: 0.87rem;
  padding-bottom: 0.87rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 2rem;
}
.home-about .about-wrapper .about-left .counter-wrapper .vertical-line {
  width: 1px;
  height: 4.2rem;
  border-left: 1px solid gray;
}

.home-about .about-wrapper .about-left .counter-wrapper .counter {
  display: flex;
  flex-direction: column;
  row-gap: 0.357rem;
  align-items: flex-start;
  background: var(--secondary-1);
  padding: 0.978rem 1.1rem;
  border-radius: 0.5rem;
}
.home-about .about-wrapper .about-left .counter-wrapper .counter .item-first {
  display: flex;
  column-gap: 0.697rem;
  align-items: center;
}
.home-about
  .about-wrapper
  .about-left
  .counter-wrapper
  .counter
  .item-first
  h5 {
  font-size: 1.2rem;
  color: var(--primary-3);
}
.home-about .about-wrapper .about-left .counter-wrapper .counter .item-second {
  font-size: 0.889rem;
}

.home-about .about-wrapper .about-right {
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.home-about .about-wrapper .about-right .bg-pattern {
  max-width: 10rem;
  position: absolute;
  left: -1rem;
  z-index: -1;
  bottom: -2rem;
}
.home-about .about-wrapper .about-right .image-wrapper {
  max-width: 26rem;
  display: block;
}
.home-about .about-wrapper .about-right .market-wrapper {
  background: var(--secondary-2);
  max-width: max-content;
  display: flex;
  align-items: center;
  column-gap: 0.457rem;
  padding: 0.78rem 0.87rem;
  border-radius: 0.872rem;
  box-shadow: 0px 6px 12px 1px rgba(14, 13, 13, 0.1803);
  position: absolute;
  bottom: -4rem;
  left: 0;
}
.home-about .about-wrapper .about-right .market-wrapper .exp-volume {
  width: 4.375rem;
  height: 4.375rem;
  border: 3px solid var(--primary-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.home-about .about-wrapper .about-right .market-wrapper h5 {
  max-width: 5rem;
  font-weight: 500;
  font-size: 0.8287rem;
}
/* ------------------------------------------
Home Services Section
--------------------------------------------*/
.home-service {
  padding: 2rem 0;
  background-color: var(--secondary-1);
}
.home-service .top {
  text-align: center;
}
.home-service .top .sub-title {
  margin: 0.687rem auto;
  background-color: var(--primary-2);
  color: var(--secondary-2);
}
.home-service .top .heading-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  max-width: 22rem;
}
.home-service .service-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.home-service .service-wrapper .card {
  background-color: var(--gray-400);
  border-radius: 0.457rem;
  padding: 1.5rem 0.987rem;
  transition: background-color 300ms ease-in-out;
}
.home-service .service-wrapper .card .icon {
  margin-bottom: 1.2rem;
  max-width: max-content;
}
.home-service .service-wrapper .card .title {
  margin-bottom: 0.67rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-3);
}
.home-service .service-wrapper .card .info {
  max-width: 18rem;
}
.home-service .service-wrapper .card:hover {
  background-color: var(--primary-3);
  color: var(--secondary-2);
  cursor: pointer;
}
.home-service .service-wrapper .card:hover .title {
  color: var(--secondary-2);
}
/* ------------------------------------------
Home Process Section
--------------------------------------------*/
.home-process {
  background-color: var(--secondary-2);
  padding: 3rem 0;
}
.home-process .process-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.home-process .process-wrapper .process-left .sub-title {
  background-color: var(--primary-2);
  color: var(--secondary-2);
}
.home-process .process-wrapper .process-left .para {
  max-width: 26rem;
}
.home-process .process-wrapper .process-left .step-wrapper {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: max-content;
}
.home-process .process-wrapper .process-left .step-wrapper > * {
  border-top: 1px solid var(--gray-400);
  padding-top: 1.2rem;
}
.home-process .process-wrapper .process-left .step-wrapper .step {
  display: flex;
  justify-content: start;
  column-gap: 0.879rem;
}
.home-process .process-wrapper .process-left .step-wrapper .step .number {
  background-color: var(--primary-1);
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50%;
  transition: opacity 300ms ease-in-out;
}
.home-process .process-wrapper .process-left .step-wrapper .step:hover .number {
  opacity: 0.8;
}
.home-process
  .process-wrapper
  .process-left
  .step-wrapper
  .step
  .content-wrapper
  .title {
  margin-bottom: 0.41rem;
}
.home-process
  .process-wrapper
  .process-left
  .step-wrapper
  .step
  .content-wrapper
  .info {
  max-width: 18rem;
}
.home-process .process-wrapper .process-left .step-wrapper .step-2 .number {
  background-color: var(--primary-2);
  color: var(--secondary-2);
}
.home-process .process-wrapper .process-left .step-wrapper .step-3 .number {
  background-color: var(--primary-3);
  color: var(--secondary-2);
}
/* Process Right */
.home-process .process-wrapper .process-right .heading-title {
  max-width: 21rem;
}
.home-process .process-wrapper .process-right .para-first {
  margin-bottom: 0.87rem;
}
.home-process .process-wrapper .process-right .para-second {
  margin-bottom: 2rem;
}
.home-process .process-wrapper .process-right .card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.2rem;
  row-gap: 1.6rem;
}
.home-process .process-wrapper .process-right .card-wrapper .card:hover .icon {
  background-color: transparent;
}
/* ------------------------------------------
Home Image Gallary Section
--------------------------------------------*/
.home-gallery {
  padding: 2rem 0;
}
.home-gallery .background {
  background: url("/assets/home/gallery-pattern.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  background-color: var(--primary-3);
}
.home-gallery .top {
  display: flex;
  column-gap: 1.12rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.home-gallery .top .top-left .sub-title {
  color: var(--secondary-2);
  background-color: var(--primary-2);
}
.home-gallery .top .top-left .heading-title {
  color: var(--secondary-2);
  font-size: 1.11rem;
  font-weight: 500;
}
.home-gallery .top .top-left {
  flex-basis: 65%;
}
.home-gallery .top .top-right {
  flex-basis: 30%;
}
.home-gallery .top .top-right .primary-btn {
  background-color: var(--primary-1);
  display: block;
  font-size: 0.679rem;
  text-decoration: none;
  border-radius: 1rem;
  text-align: center;
  padding: 0.45rem 0.5rem;
  color: var(--primary-3);
  max-width: max-content;
  margin-left: auto;
  transition: all 300ms ease-in-out;
}
.home-gallery .top .top-right .primary-btn:hover {
  background-color: var(--secondary-2);
  color: var(--primary-2);
}
.home-gallery .gallery-wrapper {
  background-color: var(--secondary-2);
  padding: 1.2rem 0.75rem;
  border-radius: 0.457rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.1rem;
  row-gap: 1.8rem;
  justify-content: center;
  margin-top: -11rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.home-gallery .gallery-wrapper .gallery-item {
  position: relative;
  max-width: max-content;
  margin: 0 auto;
}
.home-gallery .gallery-wrapper .gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(14, 13, 13, 0.6803);
  border-radius: 0.699rem;
  transition: width 250ms ease-in-out;
}
.home-gallery .gallery-wrapper .gallery-item .content-area {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 310ms ease-in-out;
}
.home-gallery .gallery-wrapper .gallery-item .content-area .title {
  color: var(--secondary-2);
  font-weight: 500;
  font-size: 0.858rem;
  margin-bottom: 0.457rem;
  margin-left: 0.474rem;
}
.home-gallery .gallery-wrapper .gallery-item .content-area .sub-title {
  background-color: transparent;
  padding: 0;
  color: var(--primary-1);
  text-transform: capitalize;
  margin-left: 0.474rem;
  font-weight: 400;
  font-size: 0.6687rem;
}
.home-gallery .gallery-wrapper .gallery-item .addition {
  position: absolute;
  right: 0.745rem;
  top: 0.54rem;
  color: var(--primary-3);
  background-color: var(--primary-1);
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.4rem;
  transform: scale(0);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.home-gallery .gallery-wrapper .gallery-item .addition:hover {
  background-color: var(--secondary-2);
}
.home-gallery .gallery-wrapper .gallery-item:hover::before {
  width: 100%;
}
.home-gallery .gallery-wrapper .gallery-item:hover .addition {
  transform: scale(1);
}
.home-gallery .gallery-wrapper .gallery-item:hover .content-area {
  transform: scale(1);
}
/* ------------------------------------------
Home Counter Section
--------------------------------------------*/
.home-counter .counter-wrapper {
  padding: 2rem 0.65rem;
  background-color: var(--primary-2);
  display: flex;
  column-gap: 0.65rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.18rem;
}
.home-counter .counter-wrapper .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-counter .counter-wrapper .counter .number {
  font-size: 1.1rem;
}
.home-counter .counter-wrapper .counter .number span {
  font-size: 0.97rem;
  margin-left: -0.2rem;
}
.home-counter .counter-wrapper .counter .title {
  text-align: center;
  color: var(--primary-3);
}

/* ------------------------------------------
Home Client Feedback Section
--------------------------------------------*/
.home-feedback {
  background-color: var(--secondary-2);
  padding: 2rem 0;
}
.home-feedback .swiper {
  max-width: 34.375rem;
}
.home-feedback .sub-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
}
.home-feedback .feedback-wrapper {
  position: relative;
}
.home-feedback .feedback-wrapper .feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.home-feedback .feedback-wrapper .feedback .comment {
  text-align: center;
  font-weight: 600;
  font-size: 1.085rem;
  color: var(--primary-3);
  margin-bottom: 1.6rem;
}
.home-feedback .feedback-wrapper .feedback .comment .grey {
  color: #cecece;
}
.home-feedback .feedback-wrapper .feedback .comment .black {
  color: var(--primary-3);
}
.home-feedback .feedback-wrapper .feedback .client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.389rem;
}
.home-feedback .feedback-wrapper .feedback .client-info .image {
  width: 5.625rem;
  height: 5.625rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.home-feedback .feedback-wrapper .feedback .client-info .name {
  font-size: 0.89rem;
  font-weight: 500;
  color: var(--primary-3);
}
.home-feedback .feedback-wrapper .feedback .client-info .designation {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--primary-3);
}
.home-feedback .swiper .pnext-btn {
  outline: none;
  border: none;
  background-color: var(--gray-400);
  padding: 0.355rem 1.4rem 0.355rem 0.55rem;
  border-radius: 1.5rem;
  display: flex;
  column-gap: 0.387rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.87rem;
  font-weight: 600;
}
.home-feedback .swiper .pnext-btn .icon {
  background-color: var(--primary-3);
  color: var(--secondary-2);
  padding: 0.2rem 0.5rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.11rem;
}
.home-feedback .swiper .prev {
  position: absolute;
  left: 0;
  top: 70%;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
  z-index: 10;
}
.home-feedback .swiper .prev:hover {
  background-color: var(--primary-3);
  color: var(--secondary-2);
  cursor: pointer;
}
.home-feedback .swiper .next {
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  padding-right: 0.455rem;
  padding-left: 1.14rem;
  transition: all 300ms ease-in-out;
  z-index: 10;
}
.home-feedback .swiper .next .icon {
  background-color: var(--primary-1);
  color: var(--primary-3);
}
.home-feedback .swiper .next:hover {
  background-color: var(--primary-1);
  color: var(--primary-3);
  cursor: pointer;
}
.home-feedback .swiper .pnext-btn[disabled="disabled"],
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.home-feedback .swiper .pnext-btn[disabled="disabled"],
button:disabled > .icon {
  background-color: transparent !important;
  color: grey !important;
}
/* ------------------------------------------
Home CTA Section
--------------------------------------------*/
.home-cta {
  background-color: var(--primary-3);
  color: var(--secondary-2);
}
.home-cta .cta-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: center;
}
.home-cta .cta-wrapper .cta-left {
  order: 2;
}
.home-cta .cta-wrapper .cta-left .sub-title {
  background-color: var(--primary-2);
  color: var(--secondary-2);
}
.home-cta .cta-wrapper .cta-left .heading-title {
  color: var(--secondary-2);
  max-width: 22rem;
}
.home-cta .cta-wrapper .cta-left .info {
  margin-bottom: 1.5rem;
  max-width: 20rem;
}
.home-cta .cta-wrapper .cta-left .main-btn {
  max-width: max-content;
  background-color: var(--primary-1);
}
.home-cta .cta-wrapper .cta-left .main-btn::before {
  background-color: var(--primary-2);
}
.home-cta .cta-wrapper .cta-left .main-btn span {
  background-color: var(--primary-2);
  color: var(--secondary-2);
}
.home-cta .cta-wrapper .cta-left .main-btn:hover {
  color: var(--secondary-2);
}
.home-cta .cta-wrapper .cta-right {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.home-cta .cta-wrapper .cta-right .demo-first {
  position: relative;
  margin-top: 4.8rem;
  z-index: 10;
  max-width: 17.5rem;
  margin-right: auto;
  margin-left: auto;
}
.home-cta .cta-wrapper .cta-right .demo-first::before {
  content: "";
  background-color: var(--primary-2);
  height: 8.68rem;
  width: 8.68rem;
  position: absolute;
  left: -1.8rem;
  top: -1.4rem;
  border-radius: 1.2rem;
  z-index: -7;
}
.home-cta .cta-wrapper .cta-right .demo-first img {
  border-top-right-radius: 0.876rem;
  border-top-left-radius: 0.876rem;
}
.home-cta .cta-wrapper .cta-right .demo-second {
  position: absolute;
  width: 11.457rem;
  z-index: 9;
  top: 0;
  right: 0;
}
.home-cta .cta-wrapper .cta-right .demo-second img {
  border-bottom-left-radius: 0.876rem;
  border-bottom-right-radius: 0.876rem;
}
.home-cta .cta-wrapper .cta-right .demo-second::before {
  content: "";
  background-color: var(--primary-1);
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  opacity: 0.7;
  border-bottom-left-radius: 0.876rem;
  border-bottom-right-radius: 0.876rem;
}
.home-cta .cta-wrapper .cta-right .pattern {
  position: absolute;
  z-index: 8;
  top: 1.9rem;
  left: 0;
  width: 17.75rem;
}
/* ------------------------------------------
Home about
--------------------------------------------*/
/* ------------------------------------------
Home about
--------------------------------------------*/
/* ------------------------------------------
Home about
--------------------------------------------*/
/* ------------------------------------------
Home about
--------------------------------------------*/

/* ================================================
Styles for Large Mobile devices 
================================================ */
@media screen and (min-width: 545px) {
  /* Top bar */
  .top-bar .location {
    display: flex;
  }
  .top-bar .social-icons {
    column-gap: 10px;
  }
  .top-bar .social-icons li {
    font-size: 22px;
  }
  /* Home About Section */
  .home-about .about-wrapper {
    justify-content: center;
    align-items: center;
  }
  /* Home Service Section */
  .home-service .service-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.6rem;
    row-gap: 1.9rem;
  }
  .home-service .service-wrapper .card {
    text-align: center;
  }
  .home-service .service-wrapper .card .info {
    margin-left: auto;
    margin-right: auto;
  }
  /* Home Counter Section */
  .home-counter .counter-wrapper .counter .number {
    font-size: 1.8rem;
  }
  .home-counter .counter-wrapper .counter .number span {
    font-size: 1.1rem;
    margin-left: -0.3rem;
  }
  /* Home Client Feedback Section */
  .home-feedback {
    padding: 3rem 0;
  }
  .home-feedback .feedback-wrapper .feedback .comment {
    font-size: 1.8rem;
  }
  .home-feedback .feedback-wrapper .feedback .client-info .image {
    width: 8.5rem;
    height: 8.5rem;
  }
  /* Home CTA Section */
  .home-cta .cta-wrapper .cta-right {
    max-width: 32.5rem;
  }
  .home-cta .cta-wrapper .cta-right .demo-first {
    max-width: 25rem;
  }
  .home-cta .cta-wrapper .cta-left .heading-title {
    max-width: 22rem;
  }
}

/* ================================================
Styles for Tablet devices 
================================================ */
@media screen and (min-width: 768px) {
  /* Our Client */
  .our-client {
    padding-top: 0.665rem;
  }
  .our-client .client-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
  }
  /* Home About */
  .home-about .about-wrapper {
    flex-direction: row;
    row-gap: 0;
    column-gap: 2.8rem;
  }
  .home-about .about-wrapper .about-right .bg-pattern {
    bottom: -6rem;
  }
  /* Home Process Section */
  .home-process .process-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
  }
  .home-process .process-wrapper .process-left .step-wrapper {
    margin-top: 4rem;
  }
  /* Home Image Gallery Section */
  .home-gallery .top .top-left .heading-title {
    font-size: 1.6rem;
    max-width: max-content;
  }
  /* Home Counter Section */
  .home-counter .counter-wrapper .counter .number span {
    font-size: 1.3rem;
  }
  /* Home Client Feedback Section */
  .home-feedback .swiper {
    max-width: 44.375rem;
  }
  .home-feedback .feedback-wrapper .feedback .comment {
    font-size: 1.9rem;
    margin-bottom: 2.5rem;
  }
  .home-feedback .feedback-wrapper .feedback .client-info .image {
    width: 9.625rem;
    height: 9.625rem;
  }
  .home-feedback .feedback-wrapper .feedback .client-info .name {
    font-size: 1.1rem;
  }
  .home-feedback .feedback-wrapper .feedback .client-info .designation {
    font-size: 0.87rem;
  }
  /* Home CTA Section */
  .home-cta .cta-wrapper {
    flex-direction: row;
    row-gap: unset;
    column-gap: 2.1rem;
    align-items: center;
  }
  .home-cta .cta-wrapper .cta-left {
    order: 1;
    width: 40%;
  }
  .home-cta .cta-wrapper .cta-right {
    order: 2;
    width: 60%;
  }
  .home-cta .cta-wrapper .cta-right .demo-first {
    max-width: 21.5rem;
  }
}

/* ================================================
Styles for Laptop Devices
================================================ */
@media screen and (min-width: 1024px) {
  /* Top bar */
  .top-bar .wrapper {
    justify-content: start;
    column-gap: 2.87rem;
  }
  .top-bar .time span {
    font-size: 0.87rem;
  }
  .top-bar .time i {
    font-size: 1.2rem;
  }
  .top-bar .social-icons {
    margin-left: auto;
  }
  .top-bar .social-icons li {
    font-size: 1.5rem;
  }
  /* Home Banner */
  .home-banner {
    position: relative;
  }
  .home-banner .content-wrapper {
    position: absolute;
    left: 3.687rem;
    max-width: 23.987rem;
  }
  /* Our Client */
  .our-client .client-wrapper {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 2rem;
  }
  /* Home About */
  .home-about .about-wrapper {
    column-gap: 4rem;
  }
  /* Home Service Section */
  .home-service .top .heading-title {
    max-width: 29rem;
    margin-bottom: 2.5rem;
  }
  /* Home Process Section */
  .home-process {
    padding: 8rem 0;
  }
  /* Home Image Gallary Section */
  .home-gallery .gallery-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .home-gallery .top .top-left .heading-title {
    max-width: 40.135rem;
  }
  .home-gallery .top .top-right .primary-btn {
    font-size: 0.89rem;
    padding: 0.75rem 0.87rem;
    border-radius: 1.5rem;
  }
  .home-gallery .gallery-wrapper .gallery-item .content-area {
    bottom: 0.27rem;
    left: 0.87rem;
  }
  .home-gallery .gallery-wrapper .gallery-item .content-area .title {
    font-size: 1.1rem;
  }
  .home-gallery .gallery-wrapper .gallery-item .content-area .sub-title {
    font-size: 0.769rem;
  }
  .home-gallery .gallery-wrapper .gallery-item .addition {
    top: 1rem;
    right: 1rem;
  }
  /* Home Counter Section */
  .home-counter .counter-wrapper {
    justify-content: space-evenly;
  }
  /* Home client Feedback Section */
  .home-feedback {
    padding: 5rem 0;
  }
  .home-feedback .feedback-wrapper .feedback .comment {
    font-size: 2.2rem;
  }
  .home-feedback .feedback-wrapper .feedback .client-info .image {
    width: 11.25rem;
    height: 11.25rem;
  }
  /* Home CTA Section */
  .home-cta .cta-wrapper .cta-right {
    width: 50%;
  }
  .home-cta .cta-wrapper .cta-left {
    width: 50%;
    margin-left: auto;
    max-width: max-content;
  }
  .home-cta .cta-wrapper .cta-left .heading-title {
    font-size: 2.5rem;
    max-width: 30rem;
  }
  .home-cta .cta-wrapper .cta-left .info {
    font-size: 0.879rem;
  }
  .home-cta .cta-wrapper .cta-left .main-btn {
    font-size: 1.4rem;
  }
  .home-cta .cta-wrapper .cta-left .main-btn p {
    font-size: 0.87rem;
  }
}

/* ================================================
Styles for Desktop and Large screeens
================================================ */
@media screen and (min-width: 1280px) {
  /* Header */
  .header .option-btn {
    display: none;
  }
  .header .nav-wrapper {
    position: static;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    column-gap: 1rem;
    background-color: transparent;
  }
  .header .nav-wrapper li a {
    padding: 0.2rem 0.2rem;
    font-size: 0.9rem;
  }
  /* Home Banner */
  .home-banner .content-wrapper {
    left: 9rem;
  }
  /* Home Client Feedback Section */
  .home-feedback .feedback-wrapper .prev {
    left: 7rem;
  }
  .home-feedback .feedback-wrapper .next {
    right: 7rem;
  }
  /* Home CTA Section */
  .home-cta .cta-wrapper .cta-left .heading-title {
    font-size: 3rem;
  }
  .home-cta .cta-wrapper .cta-left .info {
    font-size: 1.1rem;
    max-width: 24rem;
  }
  .home-cta .cta-wrapper .cta-left .main-btn p {
    font-size: 1rem;
  }
}
